/*****FONT*****/
@font-face {
  font-family: 'Beckman';
  src: url("../FONT/BeckmanFree.woff2") format("woff2"),
       url("../FONT/BeckmanFree.woff") format("woff"),
       url("../FONT/Beckman-Free.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*****ANIMATIONS*****/
@keyframes fade {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
@keyframes fadeRaise {
  from {
    opacity: 0%;
    transform: translateY(15px);
  }
  to {
    opacity: 100%;
  }
}
@keyframes fadeLower {
  from {
    opacity: 0%;
    transform: translateY(-15px);
  }
  to {
    opacity: 100%;
  }
}
@keyframes fadeSlideLeft {
  from {
    opacity: 0%;
    transform: translateX(15px);
  }
  to {
    opacity: 100%;
  }
}
@keyframes typeWrite {
  to {
    left: 100%;
  }
}
@keyframes typeBlink {
  to {
    background-color: transparent;
  }
}
@keyframes colorBreath {
  0% {
    fill: rgba(var(--theme-1), 0.4);
  }
  8% {
    fill: rgba(var(--theme-1), 0.75);
  }
  16% {
    fill: rgba(var(--theme-1), 0.4);
  }
  24% {
    fill: rgba(var(--theme-2), 0.4);
  }
  32% {
    fill: rgba(var(--theme-2), 0.75);
  }
  40% {
    fill: rgba(var(--theme-2), 0.4);
  }
  48% {
    fill: rgba(var(--theme-3), 0.4);
  }
  56% {
    fill: rgba(var(--theme-3), 0.75);
  }
  64% {
    fill: rgba(var(--theme-3), 0.4);
  }
  72% {
    fill: rgba(var(--theme-4), 0.4);
  }
  80% {
    fill: rgba(var(--theme-4), 0.75);
  }
  88% {
    fill: rgba(var(--theme-4), 0.4);
  }
  100% {
    fill: rgba(var(--theme-1), 0.4);
  }
}

/*****ROOT + BODY + SCROLLBAR*****/
:root {
  --black: #000000;
  --dark-grey: #16191C;
  --darker-grey: #111111;
  --white: #FFFFFF;
  --theme-1: ;
  --theme-2: ;
  --theme-3: ;
  --theme-4: ;
  --accent-color-1: rgb(var(--theme-1));
  --accent-color-2: rgb(var(--theme-2));
  --accent-color-3: rgb(var(--theme-3));
  --accent-color-4: rgb(var(--theme-4));
  --accent-color-gradient: linear-gradient(120deg, var(--accent-color-1) 0%, var(--accent-color-2) 68%, var(--accent-color-3) 87%, var(--accent-color-4) 100%);
  --accent-color-gradient-hover: linear-gradient(300deg, var(--accent-color-1) 0%, var(--accent-color-2) 78%, var(--accent-color-3) 95%, var(--accent-color-4) 100%);
  --project-card-gradient-hover: linear-gradient(288deg, rgba(var(--theme-4),0.25) 0%, rgba(var(--theme-3),0.2) 11%, rgba(var(--theme-2),0.2) 15%, rgba(var(--theme-1),0.15) 21%, rgba(17,17,17,0.5) 100%);
  --border-radius: 6px;
  --border-radius-hover: 10px;
  --box-shadow-accent: 0 2px 8px var(--accent-color-2);
}

html { scroll-behavior: smooth; }

body {
  margin: 0;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0.3em;
  height: 0.3em;
  background-color: var(--black);
}
::-webkit-scrollbar-thumb {
  background-image: var(--accent-color-gradient);
}

/*****GLOBAL STYLES*****/
h1 {
  font-family: 'Beckman', Arial, sans-serif;
  color: var(--white);
  
}

h2 {
  background: var(--accent-color-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Beckman', Arial, sans-serif;
  font-size: 2.5em;
  text-align: center;
  letter-spacing: .12em;
  transition: ease 0.3s;
  animation: fadeRaise 2s ease;
}

p {
  font-family: courier;
}

a {
  text-decoration: none;
  font-family: courier;
}

.buttonGradient {
  position: relative;
  background-image: var(--accent-color-gradient);
  z-index: 0;
}
.buttonGradient::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: var(--accent-color-gradient-hover);
  z-index: -1;
  transition: opacity 0.5s cubic-bezier(0.11, 0.56, 1, 1);
  opacity: 0;
  border-radius: var(--border-radius);
}
.buttonGradient:hover::before {
  opacity: 1;
  border-radius: var(--border-radius-hover);
}

.textGradient {
  background: var(--accent-color-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: var(--white);
  transition: color 0.3s cubic-bezier(0.11, 0.56, 1, 1);
}
.textGradient:hover {
  color: transparent;
}

.borderGradient {
  background: linear-gradient(var(--darker-grey), var(--darker-grey)) padding-box,
              var(--accent-color-gradient) border-box;
  border-radius: var(--border-radius);
  border: 1px solid transparent;
}
.borderGradient:hover {
  border-radius: var(--border-radius-hover);
}

.buttonElement {
  color: var(--black);
  font-weight: bold;
  padding: 1em;
  border-radius: var(--border-radius);
  font-size: 1em;
  font-family: courier;
  transition: ease 0.3s;
  user-select: none;
  animation: fade 2s ease;
}

.buttonElement:hover {
  color: var(--black);
  border-radius: var(--border-radius-hover);
  transform: translateY(5px);
  cursor: pointer;
}






/*****NAVBAR*****/
#nav-container {
  background-color: var(--black);
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
  position: sticky;
  top: 0;
  z-index: 1; /* One stacking level above all other content (z-index: 0), so navbar stays above hovered elements */
  user-select: none;
}

#logo-small {
  font-size: 1.5em;
  font-family: 'Beckman', Arial, sans-serif;
  animation: fadeRaise 2s ease;
}

#logo-large {
  display: none;
  font-size: 1.5em;
  font-family: 'Beckman', Arial, sans-serif;
  animation: fadeRaise 2s ease;
}

.nav-container-ul {
  display: none;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0;
  margin-top: 2rem;
  animation: fadeSlideLeft 2s ease;
}
.nav-container-ul li {
  margin-top: 0.5rem;
}
.nav-container-ul-a {
  font-size: 0.75em;
  padding: 0.7em;
  transition: ease 0.2s;
  font-weight: bold;
}
.nav-container-ul.active {
  display: flex;
}

.hamburger {
  display: block;
  cursor: pointer;
  animation: fadeRaise 2s ease;
}
.hamburger.active .bar:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}
.bar {
  display: block;
  width: 24px;
  height: 1px;
  margin: 6px auto;
  transition: all 0.25s ease-in-out;
  background-image: var(--accent-color-gradient);
}






/*****SPLASH SCREEN*****/
#splash-screen {
  background-color: var(--dark-grey);
  display: flex;
  flex-direction: column;
  padding: 2.5em;
  align-items: center;
  text-align: center;
  position: relative;
}

#name-title {
  background: var(--accent-color-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4em;
  letter-spacing: 0.4rem;
  transition: ease 0.3s;
  animation: fadeRaise 2s ease;
}

#splash-screen-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#personal-description {
  color: var(--white);
  font-size: 0.9em;
  transition: ease 0.3s;
  position: relative;
  width: max-content;
}
#personal-description::before,
#personal-description::after { /* Creates pseudo elements overtop of the personal description */
  content: ''; /* Initializes the pseudo elements */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#personal-description::before {
  background-color: var(--dark-grey); /* Same color as the page's background color, hides the personal description */
  animation: typeWrite 3s steps(30) 0.8s forwards; /* Strips away the pseudo element to reveal the text */
}
#personal-description::after {
  width: 0.095em; /* Small text cursor, that will animate over the text as the ::before element strips away */
  background: var(--white);
  animation:
    typeWrite 3s steps(30) 0.8s forwards,
    typeBlink 750ms steps(30) infinite;
}

#splash-screen ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  animation: fadeSlideLeft 2s ease;
}
#splash-screen ul a {
  margin: 1em;
  transition: ease 0.3s;
  user-select: none;
}
#splash-screen ul a:hover {
  transform: scale(85%);
}

#splash-screen-resume-link-field {
  margin-top: 2em;
}

#circuit {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: none;
  animation: fade 2s ease;
}
.cls-1 {
  animation: colorBreath 20s linear infinite;
}







/*****PROJECTS*****/
#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--darker-grey);
  padding: 3em 2em;
}

#project-list {
  display: grid;
  gap: 1em;
  margin-bottom: 2em;
  animation: fadeLower 2s ease;
}

.project-row {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 75vw;
  height: 100%;
  padding: 0 1.2em;
  transition: ease 0.3s;
}
.project-row::after {
  border-radius: var(--border-radius);
  background: var(--project-card-gradient-hover);
  content: "";
  opacity: 0;
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 8px;
  right: 1px;
  z-index: -1;
  transition: ease 0.3s;
}
.project-row:hover {
  transform: scale(99%);
}
.project-row:hover::after {
  opacity: 1;
}

.project-title {
  background: var(--accent-color-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: clamp(1em, 1.6em);
  margin-top: 0.8em;
  margin-bottom: 0.5em;
  letter-spacing: 0.1rem;
}

.project-description {
  color: var(--white);
  font-size: 0.85em;
}

.project-info-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
  user-select: none;
}
.project-info-2 img {
  margin-right: 0.5em;
}
.project-info-2 span {
  color: rgb(209, 209, 209);
  font-style: italic;
  font-weight: bold;
  margin-right: 2.5em;
}






/*****EDUCATION*****/
#education {
  background-color: var(--dark-grey);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3em 2em;
}

#education h3 {
  color: var(--white);
  font-family: courier;
  font-size: 1.4em;
  animation: fadeSlideLeft 2s ease;
}

#education p {
  animation: fadeSlideLeft 2s ease;
}

#education .caption {
  background: var(--accent-color-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: courier;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
  animation: fadeSlideLeft 2s ease;
}

#education-uwphoto-link-field {
  margin-top: 2em;
  margin-bottom: 1.5em;
}

#education img {
  width: 85vw;
  max-width: 600px;
  transition: ease 0.3s;
  user-select: none;
  animation: fadeLower 2s ease;
}
#education img:hover {
  transform: translateY(5px);
  box-shadow: var(--box-shadow-accent);
}






/*****HOBBIES*****/
#hobbies {
  background-color: var(--darker-grey);
  color: var(--white);
  padding: 3em 2em;
}

#hobbies-inner {
  display: flex;
  overflow-x: auto;
  padding-bottom: 4em;
}

.hobby-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hobbies h3 {
  background: var(--accent-color-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: courier;
  font-size: 1.4em;
  animation: fadeSlideLeft 2s ease;
}

#hobbies p {
  animation: fadeSlideLeft 2s ease;
}

#hobbies img {
  width: 85vw;
  max-width: 400px;
  margin: 1em 1em;
  user-select: none;
  animation: fadeLower 2s ease;
}
#hobbies img:hover {
  border-radius: var(--border-radius);
}






/*****CONTACT*****/
#contact {
  background-color: var(--dark-grey);
  color: var(--white);
  padding: 2em;
  display: flex;
}

#contact-inner {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#contact h2 {
  margin-right: 0.5em;
}

#contact .buttonElement:hover {
  transform: translateX(5px);
}





/*****FOOTER*****/
#footer {
  background-color: var(--black);
  text-align: center;
  padding: 2em;
  user-select: none;
}

#footer a {
  animation: fadeRaise 2s ease;
}





/*****MEDIA QUERIES*****/
@media only screen and (min-width: 430px) {
  .nav-container-ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0;
    margin-top: auto;
    animation: fadeSlideLeft 2s ease;
  }
  .nav-container-ul li {
    margin-top: auto;
  }

  .hamburger {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .nav-container-ul-a {
    font-size: 0.9em;
    padding: 1em;
  }
}

@media only screen and (min-width: 650px) {
  #logo-small {
    display: none;
  }
  #logo-large {
    display: block;
  }
}

@media only screen and (min-width: 900px) {
  ::-webkit-scrollbar {
    width: 0.6em;
  }
  
  h2 {
    font-size: 3em;
  }

  #splash-screen {
    align-items: flex-start;
    padding-bottom: 5em;
    padding-left: 4em;
  }
  #name-title {
    font-size: 5em;
    letter-spacing: 0.6rem;
    margin-bottom: 0;
  }
  #personal-description {
    font-size: 1em;
  }
  #splash-screen-inner {
    flex-direction: row;
    justify-content: space-between;
  }
  #splash-screen ul a {
    margin: 0.5em;
  }



  #education {
    flex-direction: row;
  }
  #education h2 {
    text-align: left;
  }
  #education-uwphoto-link-field {
    margin-left: 1em;
  }
  #education img {
    width: 60vw;
  }

  #hobbies img {
    width: 35vw;
  }
}

@media only screen and (min-width: 1020px) {
  #circuit {
    display: inline;
    right: -320px;
  }
}

@media only screen and (min-width: 1150px) {
  #circuit {
    right: -220px;
  }

  #education-uwphoto-link-field {
    margin-left: 2em;
  }
}

@media only screen and (min-width: 1200px) {  
  #project-list {
    grid-template-columns: 1fr 1fr;
  }
  .project-row {
    width: auto;
  }
  .project-title {
    width: 60%;
  }


  #education-uwphoto-link-field {
    margin-left: 3em;
  }
}

@media only screen and (min-width: 1300px) {
  #circuit {
    right: 0;
  }

  #education-uwphoto-link-field {
    margin-left: 5em;
  }
}

@media only screen and (min-width: 1620px) {
  #splash-screen {
    padding-left: 6em;
  }
}
