@font-face {
  font-family: 'Beckman';
  src: url("../FONT/BeckmanFree.woff2") format("woff2"),
       url("../FONT/BeckmanFree.woff") format("woff"),
       url("../FONT/Beckman-Free.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@keyframes fade {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes fadeRaise {
  from {
    opacity: 0%;
    transform: translateY(15px);
  }
  to {
    opacity: 100%;
  }
}

@keyframes fadeLower {
  from {
    opacity: 0%;
    transform: translateY(-15px);
  }
  to {
    opacity: 100%;
  }
}

@keyframes fadeSlideLeft {
  from {
    opacity: 0%;
    transform: translateX(15px);
  }
  to {
    opacity: 100%;
  }
}

@keyframes typeWrite {
  to {
    left: 100%;
  }
}

@keyframes typeBlink {
  to {
    background-color: transparent;
  }
}

@keyframes colorBreath {
  0% {
    fill: rgba(var(--theme-1), 0.4);
  }
  8% {
    fill: rgba(var(--theme-1), 0.75);
  }
  16% {
    fill: rgba(var(--theme-1), 0.4);
  }
  24% {
    fill: rgba(var(--theme-2), 0.4);
  }
  32% {
    fill: rgba(var(--theme-2), 0.75);
  }
  40% {
    fill: rgba(var(--theme-2), 0.4);
  }
  48% {
    fill: rgba(var(--theme-3), 0.4);
  }
  56% {
    fill: rgba(var(--theme-3), 0.75);
  }
  64% {
    fill: rgba(var(--theme-3), 0.4);
  }
  72% {
    fill: rgba(var(--theme-4), 0.4);
  }
  80% {
    fill: rgba(var(--theme-4), 0.75);
  }
  88% {
    fill: rgba(var(--theme-4), 0.4);
  }
  100% {
    fill: rgba(var(--theme-1), 0.4);
  }
}

* {
  -webkit-tap-highlight-color: transparent;
}

:root {
  --black: #000000;
  --dark-grey: #16191C;
  --darker-grey: #111111;
  --white: #FFFFFF;
  --theme-1: ;
  --theme-2: ;
  --theme-3: ;
  --theme-4: ;
  --accent-color-1: rgb(var(--theme-1));
  --accent-color-2: rgb(var(--theme-2));
  --accent-color-3: rgb(var(--theme-3));
  --accent-color-4: rgb(var(--theme-4));
  --accent-color-gradient: linear-gradient(120deg, var(--accent-color-1) 0%, var(--accent-color-2) 68%, var(--accent-color-3) 87%, var(--accent-color-4) 100%);
  --accent-color-gradient-hover: linear-gradient(300deg, var(--accent-color-1) 0%, var(--accent-color-2) 78%, var(--accent-color-3) 95%, var(--accent-color-4) 100%);
  --project-card-gradient-hover: linear-gradient(288deg, rgba(var(--theme-4),0.25) 0%, rgba(var(--theme-3),0.2) 11%, rgba(var(--theme-2),0.2) 15%, rgba(var(--theme-1),0.15) 21%, rgba(17,17,17,0.5) 100%);
  --hobby-card-gradient-hover: linear-gradient(rgba(17,17,17,0.9), rgba(17,17,17,0.9));
  --border-radius: 6px;
  --border-radius-hover: 10px;
  --box-shadow-accent: 0 2px 8px var(--accent-color-2);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0.3em;
  height: 0.3em;
  background-color: var(--black);
}

::-webkit-scrollbar-thumb {
  background-image: var(--accent-color-gradient);
}

h1 {
  font-family: 'Beckman', Arial, sans-serif;
  color: var(--white);
}

h2 {
  background: var(--accent-color-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Beckman', Arial, sans-serif;
  font-size: 2.5em;
  text-align: center;
  letter-spacing: .12em;
  transition: ease 0.3s;
  animation: fadeRaise 2s ease;
}

p {
  font-family: courier;
}

a {
  text-decoration: none;
  font-family: courier;
}

.buttonGradient {
  position: relative;
  background-image: var(--accent-color-gradient);
  z-index: 0;
}

.buttonGradient::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: var(--accent-color-gradient-hover);
  z-index: -1;
  transition: opacity 0.5s cubic-bezier(0.11, 0.56, 1, 1);
  opacity: 0;
  border-radius: var(--border-radius);
}

.buttonGradient:hover::before,
.buttonGradient:focus::before {
  opacity: 1;
  border-radius: var(--border-radius-hover);
}

.textGradient {
  background: var(--accent-color-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: var(--white);
  transition: color 0.3s cubic-bezier(0.11, 0.56, 1, 1);
}

.textGradient:hover,
.textGradient:focus {
  color: transparent;
}

.borderGradient {
  background: linear-gradient(var(--darker-grey), var(--darker-grey)) padding-box,
              var(--accent-color-gradient) border-box;
  border-radius: var(--border-radius);
  border: 1px solid transparent;
}

.borderGradient:hover,
.borderGradient:focus {
  border-radius: var(--border-radius-hover);
}

.buttonElement {
  color: var(--black);
  font-weight: bold;
  padding: 1em;
  border-radius: var(--border-radius);
  font-size: 1em;
  font-family: courier;
  transition: ease 0.3s;
  user-select: none;
  animation: fade 2s ease;
}

.buttonElement:hover,
.buttonElement:focus {
  color: var(--black);
  border-radius: var(--border-radius-hover);
  transform: translateY(5px);
  cursor: pointer;
}

#nav-container {
  background-color: var(--black);
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
  position: sticky;
  top: 0;
  z-index: 1;
  user-select: none;
}

#logo-small {
  font-size: 1.5em;
  font-family: 'Beckman', Arial, sans-serif;
  animation: fadeRaise 2s ease;
}

#logo-large {
  display: none;
  font-size: 1.5em;
  font-family: 'Beckman', Arial, sans-serif;
  animation: fadeRaise 2s ease;
}

.nav-container-ul {
  display: none;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0;
  margin-top: 2rem;
  animation: fadeSlideLeft 2s ease;
}

.nav-container-ul li {
  margin-top: 0.5rem;
}

.nav-container-ul-a {
  font-size: 0.75em;
  padding: 0.7em;
  transition: ease 0.2s;
  font-weight: bold;
}

.nav-container-ul.active {
  display: flex;
}

.hamburger {
  display: block;
  cursor: pointer;
  animation: fadeRaise 2s ease;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

.bar {
  display: block;
  width: 24px;
  height: 1px;
  margin: 6px auto;
  transition: all 0.25s ease-in-out;
  background-image: var(--accent-color-gradient);
}

#splash-screen {
  background-color: var(--dark-grey);
  display: flex;
  flex-direction: column;
  padding: 2.5em;
  align-items: center;
  text-align: center;
  position: relative;
}

#name-title {
  background: var(--accent-color-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4em;
  letter-spacing: 0.4rem;
  transition: ease 0.3s;
  animation: fadeRaise 2s ease;
}

#splash-screen-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#personal-description {
  color: var(--white);
  font-size: 0.9em;
  transition: ease 0.3s;
  position: relative;
  width: max-content;
}

#personal-description::before,
#personal-description::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#personal-description::before {
  background-color: var(--dark-grey);
  animation: typeWrite 3s steps(30) 0.8s forwards;
}

#personal-description::after {
  width: 0.095em;
  background: var(--white);
  animation:
    typeWrite 3s steps(30) 0.8s forwards,
    typeBlink 750ms steps(30) infinite;
}

#splash-screen ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  animation: fadeSlideLeft 2s ease;
}

#splash-screen ul a {
  margin: 1em;
  transition: ease 0.3s;
  user-select: none;
}

#splash-screen ul a:hover,
#splash-screen ul a:focus {
  transform: scale(85%);
}

#splash-screen-resume-link-field {
  margin-top: 2em;
}

#circuit {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: none;
  animation: fade 2s ease;
}

.cls-1 {
  animation: colorBreath 20s linear infinite;
}

#experience {
  background-color: var(--dark-grey);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3em 2em;
}

#experience-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.75rem;
}

#experience h3 {
  background: var(--accent-color-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: courier;
  font-size: 1.6em;
  width: fit-content;
  margin-top: 1rem;
  margin-bottom: 0;
  animation: fadeSlideLeft 2s ease;
}

#experience a::after {
  content: "\2197";
  font-size: 0.7em;
  margin-left: 5px;
  opacity: 0;
}

#experience a:hover::after,
#experience a:focus::after {
  opacity: 1;
}

.experience-details {
  display: none;
  transition: display 0.2s ease-in-out;
}

.experience-position-duration {
  margin-top: 0;
  margin-bottom: 2rem;
  line-height: 1.4em;
}

.experience-position-ul li {
  font-family: courier;
  font-size: 0.9em;
  margin-bottom: 1.3em;
  animation: fadeSlideLeft 2s ease;
}

#experience p {
  animation: fadeSlideLeft 2s ease;
}

#experience-container-radio {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  list-style-type: none;
  animation: fadeSlideLeft 2s ease;
}

#experience-container-radio img {
  padding: 0.8rem;
}

#experience-container-radio input[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

#experience-container-radio input[type=radio] + img {
  background: var(--dark-grey);
  border: 1px solid var(--dark-grey);
  cursor: pointer;
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out, border-radius 0.2s ease-in-out;
}

#experience-container-radio input[type=radio]:checked + img {
  background: linear-gradient(var(--dark-grey), var(--dark-grey)) padding-box,
              var(--accent-color-gradient) border-box;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
}

#line {
  height: 1px;
  width: 100%;
  background-color: var(--white);
}  

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--darker-grey);
  padding: 3em 2em;
}

#project-list {
  display: grid;
  gap: 1em;
  animation: fadeLower 2s ease;
}

#project-list[expanded="false"] {
  height: 700px;
  overflow-y: hidden;
}

#project-list-under {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 2em;
  z-index: 0;
}

#project-list-arrow-button {
  padding: 0;
  display: flex;
  cursor: pointer;
  border: none;
}

#project-list-arrow-button[active="true"] {
  align-items: flex-start;
}

#project-list-arrow-button[active="false"] {
  align-items: flex-end;
}

#arrow {
  font-size: 2em;
  margin-right: 5px;
}

#expand-collapse {
  font-family: courier;
  font-size: 1.1em;
}

.project-row {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 75vw;
  height: 100%;
  padding: 0 1.2em;
  transition: ease 0.3s;
}

.project-row::after {
  border-radius: var(--border-radius);
  background: var(--project-card-gradient-hover);
  content: "";
  opacity: 0;
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 8px;
  right: 1px;
  z-index: -1;
  transition: ease 0.3s;
}

.project-row:hover,
.project-row:focus {
  transform: scale(99%);
}

.project-row:hover::after,
.project-row:focus::after {
  opacity: 1;
}

.project-title {
  background: var(--accent-color-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: clamp(1em, 1.6em);
  margin-top: 0.8em;
  margin-bottom: 0.5em;
  letter-spacing: 0.1rem;
}

.project-description {
  color: var(--white);
  font-size: 0.85em;
}

.project-info-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
  user-select: none;
}

.project-info-2 img {
  margin-right: 0.5em;
}

.project-info-2 span {
  color: rgb(209, 209, 209);
  font-style: italic;
  font-weight: bold;
  margin-right: 2.5em;
}

#education {
  background-color: var(--darker-grey);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3em 2em;
}

#education h3 {
  color: var(--white);
  font-family: courier;
  font-size: 1.4em;
  animation: fadeSlideLeft 2s ease;
}

#education p {
  animation: fadeSlideLeft 2s ease;
}

#education .caption {
  background: var(--accent-color-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: courier;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
  animation: fadeSlideLeft 2s ease;
}

#education-uwphoto-link-field {
  margin-top: 2em;
  margin-bottom: 1.5em;
}

#education img {
  width: 85vw;
  max-width: 600px;
  transition: ease 0.3s;
  user-select: none;
  animation: fadeLower 2s ease;
}

#education img:hover,
#education img:focus {
  transform: translateY(5px);
  box-shadow: var(--box-shadow-accent);
}

#hobbies {
  background-color: var(--dark-grey);
  color: var(--white);
  padding: 3em 2em;
}

#hobbies-inner {
  display: flex;
  overflow-x: auto;
  padding-bottom: 4em;
}

.hobby-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#hobbies h3 {
  background: var(--accent-color-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: courier;
  font-size: 1.4em;
  text-align: center;
  margin-top: 0.4em;
  animation: fadeSlideLeft 2s ease;
}

#hobbies p {
  padding: 0 3rem;
  word-wrap: break-word;
  text-align: center;
  animation: fadeSlideLeft 2s ease;
}

#hobbies img {
  width: 75vw;
  max-width: 400px;
  margin: 1rem;
  aspect-ratio: 16 / 9;
  user-select: none;
  animation: fadeLower 2s ease;
}

#hobbies img:hover,
#hobbies img:focus {
  border-radius: var(--border-radius);
}

#contact {
  background-color: var(--darker-grey);
  color: var(--white);
  padding: 2em;
  display: flex;
}

#contact-inner {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#contact h2 {
  margin-right: 0.5em;
}

#contact .buttonElement:hover,
#contact .buttonElement:focus {
  transform: translateX(5px);
}

#footer {
  background-color: var(--black);
  text-align: center;
  padding: 2em;
  user-select: none;
}

#footer a {
  animation: fadeRaise 2s ease;
}

@media only screen and (min-width: 430px) {
  .nav-container-ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0;
    margin-top: auto;
    animation: fadeSlideLeft 2s ease;
  }

  .nav-container-ul li {
    margin-top: auto;
  }

  .hamburger {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .nav-container-ul-a {
    font-size: 0.9em;
    padding: 1em;
  }
}

@media only screen and (min-width: 650px) {
  #logo-small {
    display: none;
  }

  #logo-large {
    display: block;
  }
}

@media only screen and (min-width: 900px) {
  ::-webkit-scrollbar {
    width: 0.6em;
  }
  
  h2 {
    font-size: 3em;
  }

  #splash-screen {
    align-items: flex-start;
    padding-bottom: 5em;
    padding-left: 4em;
  }

  #name-title {
    font-size: 5em;
    letter-spacing: 0.6rem;
    margin-bottom: 0;
  }

  #personal-description {
    font-size: 1em;
  }

  #splash-screen-inner {
    flex-direction: row;
    justify-content: space-between;
  }

  #splash-screen ul a {
    margin: 0.5em;
  }

  #education {
    flex-direction: row;
  }

  #education h2 {
    text-align: left;
  }

  #education-uwphoto-link-field {
    margin-left: 1em;
  }

  #education img {
    width: 60vw;
  }
}

@media only screen and (min-width: 1020px) {
  #circuit {
    display: inline;
    right: -320px;
  }
}

@media only screen and (min-width: 1150px) {
  #circuit {
    right: -220px;
  }

  #experience {
    display: block;
  }

  #experience-inner {
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    height: 300px;
  }

  #experience-inner label {
    height: 47px;
  }

  #experience-container-radio {
    flex-direction: column;
    width: fit-content;
    height: 100%;
  }

  #line {
    width: 1px;
    height: 100%;
  }

  #education-uwphoto-link-field {
    margin-left: 2em;
  }
}

@media only screen and (min-width: 1200px) {  
  #project-list {
    grid-template-columns: 1fr 1fr;
  }

  .project-row {
    width: auto;
  }

  .project-title {
    width: 60%;
  }

  #education-uwphoto-link-field {
    margin-left: 3em;
  }
}

@media only screen and (min-width: 1300px) {
  #circuit {
    right: 0;
  }

  #education-uwphoto-link-field {
    margin-left: 5em;
  }
}

@media only screen and (min-width: 1620px) {
  #splash-screen {
    padding-left: 6em;
  }
}
